header {
    width: 100%;
    height: 500px;
    overflow: hidden;
    position: relative;

    #button_container {
        position: absolute;
        bottom: 60px;
        right: 160px;
        display: flex;
        gap: 4px;
        z-index: 1;


        button {
            width: 40px;
            height: 40px;
            border-radius: 50%;
            background-color: #8B8B8B;

            &:hover {
                background-color: rgba(#8b8b8b, .3);
                transition: .3s;
            }
        }
    }

    #slider {
        width: 100%;
        height: 100%;
        display: flex;
        transition: .3s;

        .slide {
            min-width: 1515px;
            height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            padding: 60px 0 60px 180px;
            background-size: cover;
            background-repeat: no-repeat;

            &1 {
                background-image: url(../../images/slide_images/1.jpg);

            }

            &2 {
                background-image: url(../../images/slide_images/2.jpg);
            }

            &3 {
                background-image: url(../../images/slide_images/3.jpg);
            }

            .hdr_tag_con {
                width: 100%;
                display: flex;
            }

            .title {
                width: 500px;
                padding: 8px 12px;
                background-color: rgba(0, 0, 0, .2);
                font-size: 40px;
                color: white;
                font-weight: 500;
            }

            .text {
                width: 500px;
                padding: 8px 12px;
                background-color: rgba(0, 0, 0, .2);
                font-size: 16px;
                color: white;
                line-height: 24px;
            }

            .comment_container {
                background-color: rgba(0, 0, 0, .2);
                display: flex;
                align-items: center;
                justify-content: space-between;
                width: 350px;
                position: relative;

                .pp {
                    width: 20px;
                    height: 20px;
                    border-radius: 50%;
                    border: solid 1px red;
                    position: relative;

                    &::before {
                        content: "@";
                        position: absolute;
                        color: white;
                        width: 100px;
                        right: -110px;
                        font-size: 13px;
                    }

                    &::after {
                        content: "elchineyvazli";
                        text-transform: lowercase;
                        position: absolute;
                        color: white;
                        width: 100px;
                        right: -125px;
                        font-size: 13px;
                    }
                }

                .comment_info {
                    display: flex;
                    align-items: center;
                    gap: 10px;
                    font-size: 13px;
                    margin-right: 80px;

                    .count_comment {
                        position: relative;
                        color: white;
                        font-size: 14px;

                        &::after {
                            content: "comments";
                            font-size: 13px;
                            position: absolute;
                            right: -70px;
                        }
                    }
                }
            }
        }
    }
}

main {
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 10px 20px;
    gap: 10px;

    #editors_pick {
        width: 100%;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        gap: 10px;
        padding: 10px 20px;


        h1 {
            font-size: 30px;
        }

        #editors_pick_cards {
            width: 100%;
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;
            gap: 10px;

            .ad {
                width: 32%;
                height: 250px;
                color: white;
                background-color: rgba(black, .1);
            }

            .e_card {
                width: 32%;
                box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
                position: relative;
                color: white;
                background-color: rgba(black, .1);
                border: solid 2px red;
                overflow: hidden;

                .e_card_video {
                    width: 100%;
                    position: absolute;
                    top: 0;
                    left: 0;
                    z-index: -1;
                }

                .play_button::before {
                    position: absolute;
                    top: 13px;
                    left: 10px;
                    border-radius: 50%;
                    background-color: black;
                }

                .e_about_tag {
                    width: 90%;
                    height: 20px;
                    display: flex;
                    gap: 4px;
                    position: absolute;
                    top: 10px;
                    left: 38px;
                }

                .e_card_h1 {
                    font-size: 20px;
                    position: absolute;
                    top: 40px;
                    left: 10px;
                }

                .e_card_p {
                    font-size: 13px;
                    position: absolute;
                    top: 100px;
                    left: 10px;
                }

                .e_card_inf_con {
                    width: 100%;
                    display: flex;
                    gap: 20px;
                    align-items: center;
                    position: absolute;
                    left: 10px;
                    bottom: 0;

                    &1,
                    &2 {
                        display: flex;
                        align-items: center;
                        gap: 6px;

                        .e_views_count {
                            font-size: 12px;
                            position: relative;

                            &::before {
                                content: "views";
                                position: absolute;
                                top: -1px;
                                right: -35px;
                            }
                        }
                    }
                }
            }
        }
    }

    #this_weeks_hottest {
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 20px;
        padding: 10px 20px;

        h1 {
            font-size: 30px;
        }

        &_cards {
            width: 100%;
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;
            gap: 10px;
            margin-top: 20px;

            .t_card {
                width: 49%;
                height: 360px;
                box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
                position: relative;
                display: flex;

                &_img {
                    width: 30%;
                    height: 100%;
                    background-size: cover;
                    background-repeat: no-repeat;
                    // background-position: -100px 0;

                    &1 {
                        background-position: -150px 0;
                    }

                    &2 {
                        background-position: -30px 0;
                    }

                    &3 {
                        background-position: -70px 0;
                    }

                    &4 {
                        background-position: -130px 0;
                    }
                }

                &_info {
                    width: 70%;
                    height: 100%;
                    display: flex;
                    flex-direction: column;
                    gap: 15px;
                    padding: 15px;
                    position: relative;

                    .t_card_tag_con {
                        width: 100%;
                        height: 30px;
                        display: flex;
                        align-items: center;
                        gap: 10px;
                    }

                    .t_title {
                        font-size: 24px;
                        color: #FF6F61;
                    }

                    .t_desc {
                        font-size: 14px;
                    }

                    .t_card_inf_con {
                        width: 100%;
                        position: absolute;
                        bottom: 0;
                        // left: 0;
                        display: flex;
                        align-items: center;
                        gap: 30px;

                        &1 {
                            display: flex;
                            align-items: center;
                        }

                        &2 {
                            display: flex;
                            align-items: center;
                            gap: 5px;
                        }
                    }
                }
            }
        }
    }

}

footer {
    width: 100%;
    display: flex;
    flex-direction: column;
    background-color: #111111;

    p,
    div,
    h1,
    button {
        color: white;
    }

    #ftr_top {
        width: 100%;
        height: 300px;
        display: flex;
        justify-content: center;
        gap: 20px;

        .ftr_part {
            width: 20%;
            height: 100%;
            display: flex;
            // border: solid 1px white;
            flex-direction: column;
            padding-top: 40px;
            padding-left: 20px;
            gap: 20px;

            #ftr_logo {
                background-image: url(../../images/logo.svg);
                width: 60px;
                height: 60px;
                background-color: white;
                margin: 0 auto;
            }

            #ftr_part1_btn_con {
                display: flex;
                align-items: center;
                gap: 10px;

                a {
                    width: 40px;
                    height: 40px;
                    border-radius: 50%;
                    display: flex;
                    align-items: center;
                    justify-content: center;

                    i {
                        color: white;
                    }

                    &:nth-child(1) {
                        background-color: #3E5B98;
                    }

                    &:nth-child(2) {
                        background-color: #4DA7DE;
                    }

                    &:nth-child(3) {
                        background-color: #C92619;
                    }

                    &:nth-child(4) {
                        background-color: #00B389;
                    }
                }
            }

            .ftr_part2_h1,
            .ftr_part3_h1 {
                font-size: 20px;
            }

            #ftr_part2_input {
                width: 260px;
                height: 40px;
                padding-left: 10px;
                outline: none;
            }

            .ftr_subs_btn {
                width: 260px;
                height: 40px;
                color: white;
                background-color: #009CFF;
            }

            .ftr_part3_p {
                width: 90%;
                height: 30px;
                padding-left: 6px;
                color: #CFCFCF;
                font-size: 14px;
                font-weight: 500;
            }

            .withundline {
                border-bottom: solid 1px #414141;
            }

            #ad {
                font-size: 40px;
            }

            &4 {
                display: flex;
                align-items: center;
                justify-content: center;
                padding: 0;
            }
        }

    }

    #ftr_bottom {
        width: 100%;
        height: 30px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}